div h2{
    color: $primary-color;
    font-size:$primary-size ;
    font-weight: $secondary-weight;
    font-family: $primary-font;
}
div h2{
    color: $primary-color;
    font-size:$primary-size ;
    font-weight: $primary-weight;
    font-family: $primary-font;
}