$primary-font:'Montserrat', sans-seriff;
$primary-color:#fff;
$primary-size:20px;
$primary-weight: 800;


$secondary-size:70px;
$secondary-weight:800;

$third-size:35px;
$third-weight: 300;




